@media only screen and (max-width: 767px) {
    .main-nav {
        background-color: #712B2B;
    }

    .main-nav nav ul li.active a {
        color: rgba(255, 216, 20, .66);
    }

    footer {
        text-align: center;
    }
}

.intro h1:before {
    /* Edit this with your name or anything else */
    content: 'NIKITA';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display SC", serif;
    color: #333;
}

a,
p,
li {
    font-size: 1em;
    font-family: "Lato", Arial, sans-serif;
    color: #4E4E4E;
    line-height: 1.75em;
}

a:hover {
    text-decoration: none !important;
    color: #333 !important;
}

.container {
    margin: auto;
    max-width: 662px;
    padding: 0 20px;
}

header.main-nav {
    background: #F4F4F4;
    padding-top: 23px;
}

header.main-nav nav ul li a {
    color: #A7A7A7;
}

header.main-nav nav ul li.active a {
    color: #4D4D4D;
}

/**/
section.bottom {
    margin-bottom: 90px;
}

article .container,
section .container {
    position: relative;
}

article .container:after,
section .container:after {
    position: absolute;
    height: 1px;
    width: 100%;
    content: '';
    border-bottom: 1px solid #CCC;
    left: 20px;
}
article .container h1,
section .container h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

article.introduction {
    padding: 95px 0 70px 0;
    overflow-x: hidden;
}

article.introduction .container .wrap .avatar img {
    width: 81px;
    height: 81px;
    border-radius: 99px;

}
figure {
    margin: 0;
}
article.introduction .container .wrap {
    margin: 30px 0;
}

article.introduction .container .wrap .unit-80 h1:before {
    position: absolute;
    left: -220px;
    top: -150px;
    font-size: 270px;
    z-index: -1;
    color: #f4f4f4;
}

article.introduction .container .wrap .unit-80 h1 span {
    font-size: 47px;
}

section.experience ul.work-list {
    margin-left: 0;
}

section.experience ul.work-list li {
    list-style: none;
    font-size: .9375em;
    color: #8C8C8C;
}

section.experience ul.work-list li a {
    padding-bottom: 5px;
    font-size: 1.1875em;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid #B3B3B3;
}

section.experience ul.work-list li a:hover {
    border-bottom: 1px solid #333333;
}

.achievements .award-list {
    margin-left: 0;
}

.achievements .award-list li:first-child, .skills .skill-list li:first-child {
    font-size: .9375em;
    color: #8C8C8C;
}

.skills .skill-list {
    margin-left: 0;
}

.quote {
    background: url(../img/bg.png);
    padding: 20px 0;
    margin-top: 120px;
}

.quote h1 {
    margin: 100px 0;
    padding: 40px 20px 40px 20px;
    border: 5px solid #FFF;
    color: #FFF;
}

ul.social {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

ul.social li {
    list-style: none outside;
    float: left;
    margin: 0 10px 0 0;
}
ul.social li a {
    display: inline-block;
    width: 33px;
    height: 33px;
    text-indent: -9999px;
    overflow: hidden;
    background: url("../img/sprites.png") no-repeat;

}

ul.social .facebook a {
    background-position: 0 0;

}

ul.social .facebook a:hover {
    background-position: 0 -35.959564208984375px ;

}

ul.social .twitter a {
    background-position: -99.00733184814453px 0;

}

ul.social .twitter a:hover {
    background-position: -98.98898315429688px -34.959564208984375px;

}

ul.social .google a:hover {
    background-position: -49.00736999511719px -34.959564208984375px;

}

ul.social .google a {
    background-position: -49.00733947753906px 0;

}
footer {
    padding: 50px 0 0 0;
}

footer .social li {
    display: inline;
    margin-left: 20px;
}

footer .social li a {
    font-size: 1.25em;
    color: #999;
}